.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .overlap-wrapper {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.landing-page .overlap {
  height: 842px;
  position: relative;
  width: 1469px;
}

.landing-page .frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 58px;
  left: 0;
  position: absolute;
  top: 0;
}

.landing-page .group {
  height: 1024px;
  margin-bottom: -182px;
  position: relative;
  width: 1440px;
}

.landing-page .group-wrapper {
  height: 659px;
  left: 810px;
  position: absolute;
  top: 40px;
  width: 659px;
}

.landing-page .overlap-group-wrapper {
  height: 659px;
}

.landing-page .overlap-group {
  height: 473px;
  left: 26px;
  position: relative;
  top: 93px;
  width: 540px;
}

.landing-page .ellipse {
  background-color: #d59ef6;
  border-radius: 236.71px;
  height: 473px;
  left: 0;
  position: absolute;
  top: 0;
  width: 473px;
}

.landing-page .img {
  height: 365px;
  left: 433px;
  position: absolute;
  top: 42px;
  width: 107px;
}

.landing-page .div {
  height: 55px;
  left: 80px;
  position: absolute;
  top: 26px;
  width: 1280px;
}

.landing-page .navbar-wrapper {
  height: 19px;
  left: 543px;
  position: absolute;
  top: 18px;
  width: 475px;
}

.landing-page .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 52px;
  position: relative;
}

.landing-page .text-wrapper {
  color: #d85de3;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  height: 12px;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 51px;
}

.landing-page .text-wrapper-2 {
  color: #d85de3;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .group-2 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 172px;
}

.landing-page .frame-wrapper {
  height: 55px;
  left: 1115px;
  position: absolute;
  top: 0;
  width: 165px;
}

.landing-page .div-wrapper {
  align-items: center;
  background-color: #fb90ea;
  border-radius: 55px;
  box-shadow: 0px 2.77px 2.21px #2aa7ff05, 0px 6.65px 5.32px #2aa7ff07, 0px 12.52px 10.02px #2aa7ff09,
    0px 22.34px 17.87px #2aa7ff0b, 0px 41.78px 33.42px #2aa7ff0d, 0px 100px 80px #2aa7ff12;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 18px 35px;
  position: relative;
}

.landing-page .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18.7px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.landing-page .group-3 {
  height: 168px;
  left: 80px;
  position: absolute;
  top: 258px;
  width: 533px;
}

.landing-page .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 54px;
  position: relative;
}

.landing-page .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.landing-page .text-wrapper-4 {
  color: #f767bd;
  font-family: "Archivo Black-Regular", Helvetica;
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 86.4px;
  margin-top: -1px;
  position: relative;
  width: 533px;
}

.landing-page .empower-protect {
  color: #a015ac91;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30.6px;
  position: relative;
  width: 497px;
}

.landing-page .svg {
  height: 65px;
  left: 1128px;
  position: absolute;
  top: 154px;
  width: 51px;
}

.landing-page .mask-group {
  height: 145px;
  left: 481px;
  position: absolute;
  top: 307px;
  width: 169px;
}
